@()

@main("Welcome") {

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2> Hello I’m Sujata Maurya</h2>

      <h3 id="introduction">Introduction</h3>
      <p>Hello, I’m Sujata Maurya(スジャタ マウリヤ)
        Master with mathematics</p>
      <p>I have my own you tube channel on Japanese language learning. Also creating tutorials of Japanese language on my own website.</p>

      <li>Position: Developer</li>
      <li>Roles and Responsibilities: Creating own website using WordPress. creating Android application and creating Japanese learning You Tube tutorials.</li>
      <h2> Projects: </h2>
        <ul>
          <li>Java Programming Android Project
          </li>
          <li>Happy New Year Apps </li>
          <li>Mehndi Design Apps </li>
      <li>Japan Photos Apps </li>
      </ul>

      <img src="assets/images/sujata-stack.jpeg" alt="Play Stack" class="small-2 medium-2 large-2" />
    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}